
body {background-color:#DFEAF5 ;
	margin: 0;
    padding: 60px 0 0 0;
}

#page {
    margin: 0px auto;
   
}


#header {
    position: relative;
    margin-top: -60px;
    font-family: 'Merriweather Sans', sans-serif;
    top: -20px;
    width: 100%;
    height: 150px;
    padding: 15px;
    
    background-color: #F98B50 ;
    font-size: 40px;
    color:#9C9998  ;
}

.positionDiputaKakacionVasca{  
position: relative;
left: 270px;

}




.StyleTitulo{ 
    background: #476082;
    font-size: 45px;

}
.TituloText-2{  

    text-decoration: underline;
    font-size: 70px;
    font-family: 'Acme', sans-serif;
    color:#476082 ;


}



.Texto-2{  

    font-family: 'Acme', sans-serif;


}


@media screen and (max-width:1250px){   





    body { background-color:#DFEAF5;
        margin: 0;
        padding: 60px 0 0 0;
    }
    
    #page {
        margin: 0px auto;
        width: 100%;
    }
    
    
    #header {
        
        position: relative;
        margin-top: -60px;
        font-family: 'Merriweather Sans', sans-serif;
        top: 0;
        width: 1080px;
        height: 100px;
        padding: 15px 20px;
        
        background-color: #F98B50 ;
        font-size: 40px;
        color:#9C9998  ;
    }
 

.Subtitulo{  
    
    left:270px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
}

.StyleTitulo{ 
    position: relative;
    left:50px;
    width: 1000px;
    background: #476082;
    font-size: 45px;

}

.Texto-2{  
    position: relative;
    left:50px;
width: 1000px;

}


.ImgSinRecursos{  
position: relative;
left: 0px;



}









}